* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px, 20px;
    margin-left: 10px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #00FFFF;
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

hr{
	background-color: #00FFFF;
	border: none;
	height: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    margin: auto;
    font-family: monospace;
    color: #00FFFF;
}
/* form design -----------------------------------------------------------------*/

form{
    width: 50%;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    margin-left: 12%;
    margin-right: 25%;
    display: inline-block;
    color: white;
}

form fieldset{
    border: none;
	border-radius: 10px;
	margin: 10px 0px 10px 0px;
	padding: 20px;
	background: teal;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

form fieldset legend{
	color: black;
	border-radius: 5px 5px 5px 5px;
	background: #00FFFF;
	padding: 3px 8px 3px 8px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	font-weight: normal;
	font-size: 25px;
}

.adminForm{
    float: left;
    padding-left: 400px;
    padding-top: 30px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-weight: bold;
}

input[type=submit]{
    line-height: 1;
    display: inline-block;
    font-size: .8rem;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 8px;
    background-color: #124d4d;
    margin: auto;
    font-weight: bold;
    font-size: 15px;
}

input[type=submit]:hover{
    background-color: #00FFFF;
    color: black;
    transition: 1s;
}