* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px, 20px;
    margin-left: 10px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #00FFFF;
}

.btn_buy{
    background-color: #f0ad4e;
}

button {
    padding: 5px 25px;
    background-color: #00FFFF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
}

.btn_buy:hover {
    background-color:	#00FFFF;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 5% 0;
}

hr{
	background-color: #00FFFF;
	border: none;
	height: 3px;
    margin-left: 20px;
    margin-right: 20px;
}


.container{
    width: 89%;
    margin: 30px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.container .box {
    position: relative;
    width: 250px;
    height: 300px;
    background: #00FFFF;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
}

.container .box .imgBox img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    transition: transform .5s;

}
.container .box:hover .imgBox img{
    transform: scale(1.2);
}
.container .box .details{
    font-family: "Helvetica", sans-serif;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background: rgb(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;

}
.container .box:hover .details{
    transform: scaleY(1);
}
.container .box .details .content{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
}

.content{
    display: flex;
    flex-flow: column; 
    min-width: 100%;
}


h1{
    color: white;
    text-align: center;
}

h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #00FFFF;
    font-weight: bold;
}

p{
    margin: 10px 0 0;
    padding: 0;
    color: white; 
}
#search-title{
    color: #edf0f1;
    font-size: 25px;
    margin: 0 6% 0 6%;
}

.btn_buy{
    background-color: #f0ad4e;
}
.search{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.searchbar{
	border: 0;
  	outline: 0;
  	background: transparent;
  	height: 40px;
	color: #00FFFF;
    font-size: 20px;
}

.searchbut{
	border: 0;
  	outline: 0;
  	background: transparent;
	color: #fff;
	width: 4%;
	height: 40px;
    padding-right: 20px;
}

.img{
	height: 20px;
	width: 20px;
}

.head {
    color: #edf0f1;
    font-size: 25px;
    margin: 0 6% 0 6%;
}

.active{
    font-weight: bolder;
    color: #00FFFF;
}
